@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(../type/SourceCodePro-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(../type/SourceSansPro-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local('Varela Round'), local('VarelaRound-Regular'), url(../type/VarelaRound-Regular.otf) format('opentype');
}

body {
  font-family: 'Varela Round', sans-serif;
  font-weight: 400;
  font-size: 11pt;
  color: #2A2A2A;
  background-color:#FCFCF2;
  margin: auto;
  max-width: 800px;
}

h1, h2, h3 {
  font-family: 'Source Sans Pro', serif;
}

h1 {
  text-align: center;
  font-weight: 300;
  letter-spacing: 2pt;
  margin-bottom: 30pt;
  margin-top: 4pt;
}

h2, h3 {
  color:#38536E;
  font-weight: 300;
  margin-top: 18pt;
}

hr {
  width: 80%;
  background-color: #E0E0E6;
  border: 0 none;
  height: 1pt;
  margin-bottom: 28pt;
}

pre {
  font-family: 'Source Code Pro', monospace;
  font-size: 10pt;
  padding: 12pt;
  color: #3F3F3F;
  background-color: #FFFFFF;
  border-radius: 2pt;
  letter-spacing: 0.4pt;
  line-height: 15pt;
  overflow-x: scroll;
}

code {
  font-family: 'Source Code Pro', monospace;
  background-color: #FFFFFF;
  color: #3F3F3F;
}

header, section {
  margin: 16pt;
}

a:visited, a:hover, a:link {
  color: #4E7399;
}

a:active {
  color: #E94E12;
}

img {
  max-width: 100%;
}

::selection {
  background-color: #E94E12;
  color: #FFF;
}

.logo {
  max-width: 60pt;
  display:block;
  margin:40pt auto 0 auto;
}

.screenshot {
  margin: auto 0;
  text-align: center;
}

.description {
  text-align: center;
}

.menu {
  text-align: center;
  margin: 42pt 8pt 32pt 8pt;
}

.item, .item:visited, .item:hover, .item:active {
  color: #2A2A2A;
  padding: 2pt;
  margin: 4pt;
  text-decoration: underline;
}

.highlight, .highlight:link, .highlight:hover, .highlight:visited {
  background-color: #38536E;
  padding: 7pt 16pt;
  margin: 4pt;
  color: #FCFCF2;
  text-decoration: none;
  border-radius: 2pt;
}

.no-select {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  color: #B2B2B2;
}

.primary {
  color: #E94E12;
}

@media only screen and (max-device-width : 650px) {
  .item, .highlight {
    display: inline-block;
  }

  header, section {
    margin: 6pt;
  }

  h1 {
    margin-bottom: 20pt;
  }

  hr {
    margin-bottom: 26pt;
  }

  ul {
    padding: 0 0 0 18pt;
  }

  .logo {
    margin:30pt auto 0 auto;
  }

  .menu {
    margin: 32pt 0;
  }

  .highlight, .highlight:link, .highlight:hover, .highlight:visited {
    padding: 7pt 12pt;
    margin: 0;
  }

  .item {
    margin: 2pt;
  }
}
